.outer-container {
    width: auto;
    height: 100vh;
    padding-left: max(6vw, (100vw - 1280px)/2);
    padding-right: max(6vw, (100vw - 1280px)/2);
    padding-top: 6vh;
    background-color: grey;
}

@media screen and (max-width: 991px) {
    .outer-container {
        padding-top: 2vh;
    }
}
p {
    margin: 0;
}

.header-container {
    color: #fff;
    text-align: center;
}

.header {
    font-size: 4rem;
    font-family:'open sans', sans-serif;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: auto;
}
.input-group {
    display: flex;
    gap: 10px;
}

.input-field {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-family:'open sans', sans-serif;
    border-radius: 30px;
    border: 3px solid #327f76;
}
@media screen and (max-width: 991px) {
    .input-group {
        flex-direction: column;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}
.search-button {
    width: 100px;
    margin-top: 2vh;
    align-self: center;
    font-size: 1.5rem;
    font-family:'open sans', sans-serif;
    background-color: #327f76;
    border: 2px solid #09322d;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.weather-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    padding: 20px;
}

.city {
    margin-top: 20px;
}

.city-name-container {
    width: 400px;
    height: auto;
    font-family: 'open sans', sans-serif;
    color: #fff;
    background: #327f76;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    font-size: 2.5rem;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
    border: 2px solid #09322d;
    border-bottom: none;
}

.city-name-container h2 {
    margin: 0;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: auto;
    padding: 20px;
}

.weather-info {
    width: 400px;
    height: auto;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 16px;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    padding: 40px 35px;
    padding-top: 0!important;
    font-size: 1.5rem;
    font-family: 'open sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    border: 2px solid #09322d;
    border-top: none;
}

.weather-info p {
    color: #fff;
}

.temp {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.humidity-wind-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
